.box textarea{
	width: 96% !important;
	height: 200px !important;
}

.todos ul li{
   list-style-type:none; 
   margin-bottom:6px; 
   padding-bottom:6px; 
   border-bottom:1px dotted #a2a2a2;
}

.page { 
    width:75%; 
    margin:10px auto;
    margin-top: 40px!important; 
    background:#FFF;
    padding:0px 20px; 
    border:1px solid #CCC; 
    border-radius:5px;
}

.box{
  margin:10px auto;
  border:1px solid #CCC; 
  border-radius:5px;
  padding:20px 20px;
}
.headline{
  width: 100%;
 /* background: #222222;*/
  height: 30px;
}

body{
  background: #4890CE;
}

.headline a{
  font-size: 18px;
  padding-right: 10px;
  color: rgb(191, 191, 191);
  text-decoration: none;
  
}

.headline a:hover{
  font-size: 18px;
  padding-right: 10px;
  color: #FFF;
  text-decoration: none;
  
}

.headline header{
  padding-top: 5px;
}

*{margin:0;padding: 0;}

body{background: #444 url(
  http://sandbox.runjs.cn/uploads/rs/418/nkls38xx/carbon_fibre_big.png)
}

.loginBox{width:420px;height:230px;padding:0 20px;border:1px solid #fff; color:#000; margin-top:40px; border-radius:8px;background: white;box-shadow:0 0 15px #222; background: -moz-linear-gradient(top, #fff, #efefef 8%);background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));font:11px/1.5em 'Microsoft YaHei' ;position: absolute;left:50%;top:50%;margin-left:-210px;margin-top:-115px;}

.loginBox h2{height:45px;font-size:20px;font-weight:normal;}

.loginBox .left{border-right:1px solid #ccc;height:100%;padding-right: 20px; }