$def with (name)
$:render.h()
<body>
    <div id="welcome_wrapper">
        <header>
            <h1 class="logo">
                <a href="/">logo</a>
            </h1>
            <div>
                <img src="">
            </div>
        </header>
        <section >
            <div class="welcome_inner">
                <div id="">
                        <form action="/" method="post" class="form-horizontal" id="landingForm">
                            <fieldset>
                                <legend>再见$name</legend>
                                <a class="why" href="/">你已经成功退出</p>
                            </fieldset>
                        </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

