

    <div class="foot">
        Copyright&copy; $config.site_name <br>
        fork&nbsp;by&nbsp;<a href="https://github.com/seyrenhe" target="_blank">Seyren</a>
    		</br>
	    项目原作者&nbsp;<a href="http://simple-is-better.com/news/309" target="_blank">qichangxin</a>
	    </br>
        Powered By
        <a href="http://webpy.org/" target="_blank"><img src="$config.static/images/webpy_ss.png" alt="powered by web.py" /></a>
	    <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
    </div>

</div>
</body>
</html>
