$def with()
$:render.header()
        <form method="post" action="/login">
            <section class="loginBox row-fluid">
              <section class="span7 left">
                <h2>用户登录</h2>
                <p><input type="text" name="username" /></p>
                <p><input type="password" name="password" /></p>
                <section class="row-fluid">
                  <section class="span8 lh30"><label><input type="checkbox" name="rememberme" />下次自动登录</label></section>
              <section class="span1"><input type="submit" value=" 登录 " class="btn btn-primary"></section>
                </section>
              </section>
              <section class="span5 right">
                <h2>没有帐户？</h2>
                <section>
                  <p>请注册一个账号来使用这个GTD小工具</p>
                  <p><input type="button" value=" 注册 " class="btn" onClick="javascript:windows.location.href="/regeister""></p>
                </section>
              </section>
            </section><!-- /loginBox -->
          </form>
    </div> <!-- /container -->
</body>
</html>





    
<!-- $:render.foot() -->